doctype html
html(lang="en")
    head
        block title
        link(rel="stylesheet" href="/tachyons.css")
    body.sans-serif.dark-gray.bg-washed-yellow
        include navigation.pug
        .mw8.center
            block body
